*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: 200px;
    background: radial-gradient(closest-side,rgb(255, 225, 104),#ffff);
    z-index: -1;
    position: relative;
    background-position-x:8rem;
    background-position-y: 7rem;

}
